*{
  margin: 0px;
  padding: 0px;
}
#head{
  background-image: url('./header.jpg');
  height: 180px;
  background-blend-mode: color-dodge;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position: center;
  align-content: center;
}
.apptitle{
  padding-top: 80px;
  text-align: center;
}
#body{
  margin-top: 5px;
}

.mainbody{
  background-color: green;
}
.announcement{
  background-color: blue;
}
a{
  margin-left: 5px;
  color: rgb(43, 230, 52);
}